In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [16]:
df=pd.read_csv('ObesityDataSet_raw_and_data_sinthetic.csv')
df.sample(5)

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
713,20.850119,Female,1.524926,42.000000,Sometimes,yes,2.866383,1.226342,no,no,1.000000,no,0.144950,0.000000,Frequently,Public_Transportation,Insufficient_Weight
330,17.000000,Female,1.800000,50.000000,Sometimes,yes,3.000000,4.000000,no,no,1.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Insufficient_Weight
318,25.000000,Female,1.560000,45.000000,Sometimes,yes,2.000000,3.000000,no,no,1.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
1188,19.005725,Female,1.599999,73.513873,Sometimes,no,2.942154,2.667711,no,no,2.184768,yes,1.524405,0.805008,Sometimes,Public_Transportation,Overweight_Level_II
1008,23.285553,Male,1.717775,85.312639,Sometimes,yes,2.951591,3.000000,no,no,2.971557,yes,0.000000,0.947192,Sometimes,Public_Transportation,Overweight_Level_II

In [17]:
df.isnull().mean()

Age                               0.0
Gender                            0.0
Height                            0.0
Weight                            0.0
CALC                              0.0
FAVC                              0.0
FCVC                              0.0
NCP                               0.0
SCC                               0.0
SMOKE                             0.0
CH2O                              0.0
family_history_with_overweight    0.0
FAF                               0.0
TUE                               0.0
CAEC                              0.0
MTRANS                            0.0
NObeyesdad                        0.0
dtype: float64

In [18]:
df.dtypes

Age                               float64
Gender                             object
Height                            float64
Weight                            float64
CALC                               object
FAVC                               object
FCVC                              float64
NCP                               float64
SCC                                object
SMOKE                              object
CH2O                              float64
family_history_with_overweight     object
FAF                               float64
TUE                               float64
CAEC                               object
MTRANS                             object
NObeyesdad                         object
dtype: object

In [19]:
df['Age']=df['Age'].round().astype(int)

In [20]:
df

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21,Female,1.620000,64.000000,no,no,2.0,3.0,no,no,2.000000,yes,0.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
1,21,Female,1.520000,56.000000,Sometimes,no,3.0,3.0,yes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,23,Male,1.800000,77.000000,Frequently,no,2.0,3.0,no,no,2.000000,yes,2.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
3,27,Male,1.800000,87.000000,Frequently,no,3.0,3.0,no,no,2.000000,no,2.000000,0.000000,Sometimes,Walking,Overweight_Level_I
4,22,Male,1.780000,89.800000,Sometimes,no,2.0,1.0,no,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,21,Female,1.710730,131.408528,Sometimes,yes,3.0,3.0,no,no,1.728139,yes,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,22,Female,1.748584,133.742943,Sometimes,yes,3.0,3.0,no,no,2.005130,yes,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,23,Female,1.752206,133.689352,Sometimes,yes,3.0,3.0,no,no,2.054193,yes,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,24,Female,1.739450,133.346641,Sometimes,yes,3.0,3.0,no,no,2.852339,yes,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,24,Female,1.738836,133.472641,Sometimes,yes,3.0,3.0,no,no,2.863513,yes,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

#### Unique

In [31]:
df['CAEC'].unique()

array([2, 1, 0, 3])

In [38]:
df['NObeyesdad'].unique()

array([1, 5, 6, 2, 0, 3, 4])

In [39]:
 df['CALC'].unique()

array(['no', 'Sometimes', 'Frequently', 'Always'], dtype=object)

In [71]:
 df['MTRANS'].unique()

array(['Public_Transportation', 'Walking', 'Automobile', 'Motorbike',
       'Bike'], dtype=object)

In [54]:
 df['SMOKE'].unique()

array(['no', 'yes'], dtype=object)

In [34]:
target_NObeyesdad= list(df['NObeyesdad'].unique())
target_NObeyesdad

['Normal_Weight',
 'Overweight_Level_I',
 'Overweight_Level_II',
 'Obesity_Type_I',
 'Insufficient_Weight',
 'Obesity_Type_II',
 'Obesity_Type_III']

#### Label Encoder Cat

In [30]:
from sklearn.preprocessing import LabelEncoder

LabelEncoder = LabelEncoder()
LabelEncoder.fit(['Sometimes', 'Frequently', 'Always', 'no'])
df['CAEC'] = LabelEncoder.transform(df['CAEC'].values)

In [37]:
from sklearn.preprocessing import LabelEncoder
LabelEncoder = LabelEncoder()
LabelEncoder.fit(['Normal_Weight','Overweight_Level_I','Overweight_Level_II','Obesity_Type_I','Insufficient_Weight','Obesity_Type_II','Obesity_Type_III'])
df['NObeyesdad'] = LabelEncoder.transform(df['NObeyesdad'].values)

In [72]:
from sklearn.preprocessing import LabelEncoder

LabelEncoder = LabelEncoder()
LabelEncoder.fit(['Public_Transportation', 'Walking', 'Automobile', 'Motorbike','Bike'])
df['MTRANS'] = LabelEncoder.transform(df['MTRANS'].values)

In [63]:
from sklearn.preprocessing import LabelEncoder

LabelEncoder = LabelEncoder()
LabelEncoder.fit(['Male','Female'])
df['Gender'] = LabelEncoder.transform(df['Gender'].values)

In [76]:
import pandas as pd

def detect_outliers(df):
    # Crear un DataFrame vacío para almacenar los outliers
    outliers = pd.DataFrame(columns = df.columns)

    # Iterar sobre cada columna
    for col in df.columns:
        if df[col].dtype.kind in 'bifc':  # Solo columnas numéricas
            # Calcular el IQR
            Q1 = df[col].quantile(0.25)
            Q3 = df[col].quantile(0.75)
            IQR = Q3 - Q1

            # Definir los límites para los outliers
            lower_limit = Q1 - 1.5 * IQR
            upper_limit = Q3 + 1.5 * IQR

            # Identificar los outliers
            results = df[(df[col] < lower_limit) | (df[col] > upper_limit)].copy()
            results['Outlier'] = col
            outliers = pd.concat([outliers, results], ignore_index=True)

    return outliers

# Uso de la función
outliers = detect_outliers(df)

In [78]:
outliers

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad,Outlier
0,41,1,1.800000,99.000000,1,1,2.000000,3.000000,0,0,2.000000,0,2.000000,1.000000,2,0,2,Age
1,52,0,1.690000,87.000000,3,1,3.000000,1.000000,0,1,2.000000,1,0.000000,0.000000,2,0,2,Age
2,39,1,1.790000,90.000000,2,0,2.000000,1.000000,0,0,2.000000,0,0.000000,0.000000,2,3,6,Age
3,55,1,1.780000,84.000000,1,0,3.000000,4.000000,1,0,3.000000,1,3.000000,0.000000,1,4,5,Age
4,38,0,1.560000,80.000000,2,1,2.000000,3.000000,0,0,2.000000,1,0.000000,0.000000,2,0,2,Age
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2384,30,1,1.761068,118.370628,2,1,2.571274,3.000000,0,0,2.224164,1,1.018158,1.152899,2,0,3,MTRANS
2385,37,1,1.762921,118.401740,2,1,2.136830,2.993084,0,0,1.885926,1,0.615298,0.000000,2,0,3,MTRANS
2386,38,1,1.752863,119.201465,2,1,2.499388,2.989791,0,0,1.959777,1,0.608100,0.646760,2,0,3,MTRANS
2387,39,1,1.768235,117.792268,2,1,2.230742,2.920373,0,0,1.831187,1,0.756277,0.000000,2,0,3,MTRANS
2388,38,1,1.766888,118.134898,2,1,2.240757,2.911568,0,0,1.895876,1,0.822186,0.000000,2,0,3,MTRANS

In [53]:
outliers['Outlier'].unique()

array(['Age', 'Height', 'Weight', 'NCP', 'CAEC'], dtype=object)

In [80]:
for col in df.columns:
    if df[col].dtype.kind in 'bifc':  # Solo columnas numéricas
        df[col] = df[col].round(2)

In [81]:
df

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21,0,1.62,64.00,3,0,2.0,3.0,0,0,2.00,1,0.00,1.00,2,3,1
1,21,0,1.52,56.00,2,0,3.0,3.0,1,1,3.00,1,3.00,0.00,2,3,1
2,23,1,1.80,77.00,1,0,2.0,3.0,0,0,2.00,1,2.00,1.00,2,3,1
3,27,1,1.80,87.00,1,0,3.0,3.0,0,0,2.00,0,2.00,0.00,2,4,5
4,22,1,1.78,89.80,2,0,2.0,1.0,0,0,2.00,0,0.00,0.00,2,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,21,0,1.71,131.41,2,1,3.0,3.0,0,0,1.73,1,1.68,0.91,2,3,4
2107,22,0,1.75,133.74,2,1,3.0,3.0,0,0,2.01,1,1.34,0.60,2,3,4
2108,23,0,1.75,133.69,2,1,3.0,3.0,0,0,2.05,1,1.41,0.65,2,3,4
2109,24,0,1.74,133.35,2,1,3.0,3.0,0,0,2.85,1,1.14,0.59,2,3,4
2110,24,0,1.74,133.47,2,1,3.0,3.0,0,0,2.86,1,1.03,0.71,2,3,4